.advantages-service,
.advantages-service__block {
    display: flex;
    flex-direction: column;
}

.advantages-service {
    padding-bottom: 60px;
}

.advantages-service__block {
    padding-left: 60px;
}

.advantages-service__title{
    margin-top: 33px;
    margin-bottom: 16px;
}

.advantages-service__descript {
    width: 237px;
    margin: 0;
}