.advantage {
  position: relative;
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 18px;

  &_city {
    padding-top: 50px;
  }

  &_grey {
    background-color: #eeeeee;
    padding: 24px 37px;
  }

  &_border-none {
    padding-top: 24px;
  }
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantage_border .advantage__title {
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background: #d6d6d6;
    top: 0;
    left: 17px;
  }
}

.advantage_border-none .advantage__title {
  &::before {
    display: none;
  }
}

.advantage__text {
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantage__number {
  padding: 10px 0 18px;

  &_first {
    padding: 11px 0 13px;
  }
}

@media (min-width: 768px) {
  .advantage {
    padding: 52px 27px 29px 27px;

    &_grey {
      width: 190px;
      padding: 41px 33px;
    }

    &_position {
      order: 2;
      padding: 52px 40px 29px 40px;
    }
  }

  .advantage__title {
    font-size: 21px;
    text-align: center;
    width: 150px;

    &_second {
      width: 150.5px;
    }
  }

  .advantage_border .advantage__title {
    &::before {
      display: none;
    }
  }

  .advantage__number {
    padding: 14px 0 23px;

    &_first {
      padding: 15px 0 23px;
    }
  }

  .advantage__text {
    &_fourth {
      width: 160px;
    }
  }
}

@media (min-width: 1200px) {
  .advantage {
    width: 300px;
    padding: 51px 50px;

    &_city {
      width: auto;
      padding: 51px 60px;
    }

    &_position {
      padding: 51px 90px;
    }
  }

  .advantage__text {
    &_fourth {
      width: 275px;
    }
  }
}
