.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 0;
  text-align: center;
  background-color: #81b3d2;
  border: none;

  &_search {
    display: block;
    width: 280px;
  }
}

@media (min-width: 768px) {
  .button {
    &_search {
      width: 458px;
    }
  }
}
