.catalog {
  padding-right: 20px;
  padding-left: 20px;
}

.catalog__items {
  display: flex;
  flex-direction: column;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 25px;
  border-top: 1px solid #e5e5e5;
}

.catalog__title {
  font-weight: 700;
}

.catalog__author {
  font-size: 14px;
  text-transform: none;
}

.catalog__likes-amount {
  font-weight: 700;
}
