.navigation {
  background-color: #81b3d2;
}

.navigation__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation__list {
  text-align: center;
}

.navigation__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
}
