.navigation {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.navigation__items_opened > .navigation__list {
  display: flex;
}

.navigation__items_closed > .navigation__list {
  display: none;
  border: none;
  background-color: #ffffff;
}

.navigation__items_opened > .navigation__list_logo {
  display: none;
}

.navigation__items_closed .navigation__list_logo {
  display: block;
}

.navigation__button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 55px;
  height: 55px;
  background: url("../img/icon-cross.svg") no-repeat 50% 50%;
  background-size: 22px 22px;
  border: none;
  outline: none;
  cursor: pointer;

  &_closed {
    background: url("../img/icon-menu.svg") no-repeat 50% 50%;
    background-size: 23px 22px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  background-color: #81b3d2;
  min-height: 55px;
  height: 55px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:nth-child(1) {
    border-top: none;
  }

  &:nth-last-child(2) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 20px;
      background: linear-gradient(to top, #678fa8 0, transparent 5px);
    }
  }
}

.navigation__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .navigation {
    background-color: #ffffff;
  }

  .navigation > .navigation__items > .navigation__list_logo {
    display: block;
    z-index: 2;
  }

  .navigation__items {
    display: flex;
  }

  .navigation__list {
    width: 20%;
    border: none;
    background-color: #ffffff;

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }

    &:nth-last-child(2) {
      &::after {
        display: none;
      }
    }
  }

  .navigation__list:nth-child(1) {
    order: 1;
  }

  .navigation__list:nth-child(2) {
    order: 2;
  }

  .navigation__list:nth-child(3) {
    order: 4;
  }

  .navigation__list:nth-child(4) {
    order: 5;
  }

  .navigation__list:nth-child(5) {
    order: 3;
  }

  .navigation__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;

    img {
      transform: translateX(-18px);
    }

    &:hover {
      color: #81b3d2;
    }

    &_active {
      color: #766357;
    }

    &_catalog-logo {
      img {
        transform: translateX(-15px);
      }
    }
  }

  .navigation__button {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navigation__link {
    &_catalog-logo {
      img {
        transform: translateX(0);
      }
    }

    &_logo {
      img {
        transform: translateX(-3px);
      }
    }
  }
}
