.promo {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 32px;
}

.promo__title,
.promo__descript {
  text-align: center;
  line-height: 26px;
  margin: 0;
}

.promo__title {
  font-size: 18px;
  max-width: 284px;
  align-self: center;
}

.promo__descript {
  color: #333333;
}

@media (min-width: 768px) {
  .promo {
    width: 100%;
  }
}
