.search-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 49px;
}

.search-hotel__title,
.search-hotel__text {
    text-align: center;
}

.search-hotel__title {
    font-size: 21px;
    line-height: 26px;
}
