.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 49px;
}

.search-hotel__title,
.search-hotel__text {
  text-align: center;
  margin-top: 0;
}

.search-hotel__title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 26px;
}

.search-hotel__text {
  color: #333333;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .search-hotel__line {
    display: block;
  }

  .search-hotel__title {
    font-size: 30px;
  }
}
