.socials {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

.socials__icon {
  list-style-type: none;
  margin: 0 6px 0 auto;
}

.socials__icon-link {
  display: block;
  text-align: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.socials__icon-logo {
  fill: #ffffff;
  transform: translateY(17px);
}

.socials__icon-link:active > .socials__icon-logo {
  fill: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .socials {
    margin-bottom: 0;
  }
}
